/* #root {
  user-select: none;
} */

body {
  background-color: gray;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.cell {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 10rem;
  height: 10rem;
  background-color: #191a00;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #00ff95;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.editButton {
  margin-bottom: 0.3rem;
}

.cellTextContainer {
  width: 10rem;
  height: 10rem;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.cellText {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  top: 0;
  /* user-select: none; */
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.dayNames {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1.5rem;
  width: 10rem;

  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.formOuterContainer {
  display: flex;
}

.eventsContainer {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 50rem;
  height: 65rem;
  background-color: #191a00;
  text-align: center;
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  border: 2px solid #00ff95;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-right: auto;
}

.formContainer {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 50rem;
  height: 65rem;
  background-color: #191a00;
  text-align: center;
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  border: 2px solid #00ff95;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-left: auto;
}

.addEntry {
  font-size: 34px;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
