#root {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  user-select: none;
}

body {
  background: radial-gradient(circle, #1f1b24, #090909);
  color: #fff;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #00ff95;
}

.currentMonth {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #00ff95;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  margin-left: 5rem;
  margin-right: 5rem;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  margin-left: 5rem;
  margin-right: 5rem;
}

.cell {
  margin: 1%;
  width: auto;
  height: auto;
  background: linear-gradient(145deg, #2d2a30, #1a181d);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #ff00e6;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(255, 0, 230, 0.8);
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  justify-content: center;
  height: 190px;
}

.cell:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #ff00e6, 0 0 30px #ff00e6;
}

.editButton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #00ff95;
  color: #191a00;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 0.3rem;
}

.editButton:hover {
  background-color: #00d67d;
  box-shadow: 0 0 10px #00ff95;
}

.cellTextContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.cellText {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #00ff95;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin: auto;
  margin-top: 0.3rem;
}

.resultDiv {
  color: #ff00e6;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  margin-left: 5rem;
  margin-right: 5rem;
}

.dayNames {
  margin: 1%;
  width: auto;
  height: auto;
  background: linear-gradient(145deg, #2d2a30, #1a181d);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #ff00e6;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(255, 0, 230, 0.8);
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.formOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: large;
}

.formContainer,
.eventsContainer {
  width: 30%;
  max-width: 80rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: linear-gradient(145deg, #1e1c23, #29262d);
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  border: 3px solid #00ff95;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 255, 149, 0.8);
  letter-spacing: 2px;
  line-height: 2;
  text-align: center;
}

.eventsContainer {
  padding-right: 10px;
}

.addEntry {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: #ff00e6;
  font-size: medium;
}

input[type="datetime-local"] {
  height: 100%;
  width: 95%;
  font-size: small;
  font-family: "Poppins";
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
  padding: 0.5rem;
  background: linear-gradient(145deg, #2d2a30, #1a181d);
  color: #fff;
  border: 2px solid #00ff95;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(255, 0, 230, 0.8);
  transition: all 0.3s ease;
}

.react-datepicker__input-container {
  width: 100% !important;
  margin: 0;
  justify-content: center;
}

.react-datepicker-wrapper {
  width: 100%;
}

.DatePickerWrapper {
  width: 100% !important;

  justify-content: center;
}

.DatePicker,
input[type="text"] {
  width: 90% !important;
  overflow: hidden !important;
  margin-top: 10px;
}

input[type="submit"] {
  background-color: #00d67d;
  width: 95% !important;
  margin: 1rem !important;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  padding: 0.5rem 1rem !important;
  font-size: medium !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.dateSelection {
  height: 100%;
  width: 100%;
  font-size: small;
  font-family: "Poppins";
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
  padding: 0.5rem;
  color: black;
}

input[type="datetime-local"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px #00ff95;
  border-color: #00ff95;
}

.dateSelection {
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: black;
  font-size: medium;
  background: #00d67d;
  padding: 0.5rem;

  border-radius: 10px;
}

input[type="text"] {
  background: linear-gradient(145deg, #2d2a30, #1a181d);
  color: #fff;
  border: 2px solid #00ff95;
  padding: 0.5rem;
  font-size: medium;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(255, 0, 230, 0.8);
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px #00ff95;
  border-color: #00ff95;
}

input[type="text"]:hover,
input[type="datetime-local"]:hover,
input[type="submit"]:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff00e6;
}

input[type="submit"] {
  margin-bottom: 1rem;
}

.dateSelection {
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: black;
  font-size: medium;
}

.EventEntryTitle {
  font-size: medium;
}

.eventsTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  color: #00ff95;
}

.currentEvents {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 800px;
  overflow-y: auto;
}

.deleteDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.delete {
  align-self: flex-end;
  margin-right: 2.75rem;
}

.eventsContainerTextTitle {
  font-size: small;
  margin: 0.5rem;
  text-align: center;
  flex-grow: 1;
  padding-left: 4rem;
  margin-left: 4rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.eventsArrayDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 3px solid #00ff95;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 255, 149, 0.8);
  min-height: 60px;
  overflow-y: hidden;
}

.eventTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.eventTitle {
  width: 80%;
  height: 100%;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  resize: none;
  overflow: visible;
  padding: 0.5rem;
  min-height: 50px;
}

.eventTitle {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.eventTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.timeSlice {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}

.currentMonthCon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.currentMonthCon2 {
  display: flex;
}

.theDate .backButton {
  text-align: center;
  gap: 10px;
  color: #ff00e6;
  font-size: larger;
  margin-bottom: 2rem;
  margin-top: 3rem;
  align-self: center;
}

.pageLeft,
.pageRight {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff00e680;
  color: #fff;
  border: 2px solid #ff00e6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.pageLeft:hover,
.pageRight:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px #ff00e6;
}

.editFormButtons {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0.3rem;
  border: 3px solid #00ff95;
}

.editFormButtons button {
  background: linear-gradient(145deg, #1e1c23, #29262d);
  color: white;
  margin: 0;
  padding: 0;
}

.today {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #29262d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00ff95;
  border-radius: 10px;
  border: 3px solid #1e1c23;
}

::-webkit-scrollbar-thumb:hover {
  background: #00d67d;
}

::-webkit-scrollbar-horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #00ff95;
}

::-webkit-scrollbar-track:horizontal {
  background: #29262d;
}

@media (max-width: 1921px) {
  .cell {
    margin: 1%;
    width: auto;
    height: 100px;
    background: linear-gradient(145deg, #2d2a30, #1a181d);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #ff00e6;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(255, 0, 230, 0.8);
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .cellTextContainer {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cellText {
    flex-direction: column;
    top: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .editButton {
    margin-bottom: 0.3rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #00ff95;
    color: #191a00;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .resultDiv {
    color: #ff00e6;
    font-weight: bold;
    font-size: 18px;
  }
}

@media (max-width: 1350px) {
  .dayNames {
    font-size: 16px;
  }
  .cell {
    height: auto;
  }
  .formContainer,
  .eventsContainer {
    width: 80%;
  }
  .today {
    font-size: 16px;
  }
}

@media (max-width: 935px) {
  .dayNames {
    font-size: 12px;
  }
  .cellText {
    font-size: 12px;
  }
  .resultDiv {
    font-size: 12px;
  }
  .editButton {
    border-radius: 0px;
    font-size: 12px;
    padding: 0.1rem 0.1rem;
  }
  .today {
    font-size: 12px;
  }
}

@media (max-width: 763px) {
  .dayNames {
    font-size: 8px;
  }
  .today {
    font-size: 8px;
  }
}

@media (max-width: 660px) {
  .dayNames {
    font-size: 6px;
  }
  .cellText {
    font-size: 8px;
  }
  .resultDiv {
    font-size: 8px;
  }
  .editButton {
    border-radius: 0px;
    font-size: 8px;
    padding: 0.1rem 0.1rem;
  }
  .today {
    font-size: 6px;
  }
}

@media (max-width: 511px) {
  .dayNames {
    font-size: 4px;
  }
  .cellText {
    font-size: 6px;
  }
  .resultDiv {
    font-size: 6px;
  }
  .editButton {
    border-radius: 0px;
    font-size: 6px;
    padding: 0.1rem 0.1rem;
  }
  .today {
    font-size: 4px;
  }
}

@media (max-width: 430px) {
  .dayNames {
    font-size: 3px;
  }
  .cellText {
    font-size: 4px;
  }
  .resultDiv {
    font-size: 4px;
  }
  .editButton {
    border-radius: 0px;
    font-size: 4px;
    padding: 0.1rem 0.1rem;
  }
  .today {
    font-size: 3px;
  }
}

@media (max-width: 360px) {
  .dayNames {
    font-size: 2px;
  }
  .cellText {
    font-size: 3px;
  }
  .resultDiv {
    font-size: 3px;
  }
  .editButton {
    border-radius: 0px;
    font-size: 3px;
    padding: 0.1rem 0.1rem;
  }
}

@media (max-height: 1278px) {
  .currentEvents {
    height: 700px;
  }
}
@media (max-height: 1188px) {
  .currentEvents {
    height: 487px;
  }
  .cell {
    height: 125px;
  }
}

@media (max-height: 1080px) {
  .currentEvents {
    height: 442px;
  }
}

@media (max-height: 980px) {
  .currentEvents {
    height: 360px;
  }
}

@media (max-height: 850px) {
  .currentEvents {
    height: 300px;
  }
}

@media (max-height: 721px) {
  .currentEvents {
    height: 250px;
  }
}

@media (max-height: 650px) {
  .currentEvents {
    height: 210px;
  }
}

@media (max-height: 580px) {
  .currentEvents {
    height: 187px;
  }
}

@media (max-height: 500px) {
  .currentEvents {
    height: 145px;
  }
}

@media (max-height: 420px) {
  .currentEvents {
    height: 122px;
  }
}
